body {
  text-align: center;
  background-color: #9ac2c9;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #8aa1b1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  padding-bottom: 0px;
}

img {
  border-radius: 50%;
  border-style: dotted;
  border-color: #4a5043;
  padding: 10px;
}
.image {
  margin: auto;
  width: 18%;
  border-radius: 50%;
  border-style: dotted;
  border-color: #4a5043;
  padding: 10px;
}
li {
  padding-top: 10px;
  list-style-type: none;
  display: inline;
}

p {
    text-align: justify;
}

a{
    color: blue;
    text-decoration: none;
    
}